@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins, sans-serif;
    }
}

.section {
    background-image: url("../img/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    .section {
        background-image: url("../img/bg-simplify-section-mobile.svg");
    }
}
